body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:Poppins, sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#808285;
	font-family:Poppins, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer071 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:200.00px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:720.00px;
}
#_idContainer001 {
	-ms-transform:translate(200.250px,380.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(200.250px,380.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	position:absolute;
	top:0px;
	transform:translate(200.250px,380.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(200.250px,380.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:520.00px;
}
#_idContainer002 {
	-ms-transform:translate(200.250px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(200.250px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	position:absolute;
	top:0px;
	transform:translate(200.250px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(200.250px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:520.00px;
}
#_idContainer003 {
	-ms-transform:translate(200.250px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(200.250px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	position:absolute;
	top:0px;
	transform:translate(200.250px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(200.250px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:520.00px;
}
#_idContainer004 {
	-ms-transform:translate(200.250px,890.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(200.250px,890.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	position:absolute;
	top:0px;
	transform:translate(200.250px,890.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(200.250px,890.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:520.00px;
}
#_idContainer005 {
	-ms-transform:translate(200.250px,1060.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(200.250px,1060.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	position:absolute;
	top:0px;
	transform:translate(200.250px,1060.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(200.250px,1060.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:520.00px;
}
#_idContainer006 {
	-ms-transform:translate(679.750px,294.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,294.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,294.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,294.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer007 {
	-ms-transform:translate(681.249px,280.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(681.249px,280.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.94px;
	position:absolute;
	top:0px;
	transform:translate(681.249px,280.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(681.249px,280.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.94px;
}
#_idContainer008 {
	-ms-transform:translate(695.189px,294.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(695.189px,294.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.06px;
	position:absolute;
	top:0px;
	transform:translate(695.189px,294.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(695.189px,294.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.06px;
}
#_idContainer009 {
	-ms-transform:translate(679.750px,279.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,279.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,279.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,279.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer010 {
	-ms-transform:translate(679.750px,463.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,463.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,463.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,463.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer011 {
	-ms-transform:translate(681.249px,450.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(681.249px,450.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.94px;
	position:absolute;
	top:0px;
	transform:translate(681.249px,450.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(681.249px,450.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.94px;
}
#_idContainer012 {
	-ms-transform:translate(695.189px,464.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(695.189px,464.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.06px;
	position:absolute;
	top:0px;
	transform:translate(695.189px,464.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(695.189px,464.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.06px;
}
#_idContainer013 {
	-ms-transform:translate(679.750px,449.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,449.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,449.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,449.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer014 {
	-ms-transform:translate(679.750px,633.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,633.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,633.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,633.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer015 {
	-ms-transform:translate(681.249px,620.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(681.249px,620.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.94px;
	position:absolute;
	top:0px;
	transform:translate(681.249px,620.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(681.249px,620.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.94px;
}
#_idContainer016 {
	-ms-transform:translate(695.189px,634.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(695.189px,634.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.06px;
	position:absolute;
	top:0px;
	transform:translate(695.189px,634.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(695.189px,634.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.06px;
}
#_idContainer017 {
	-ms-transform:translate(679.750px,619.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,619.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,619.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,619.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer018 {
	-ms-transform:translate(679.750px,804.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,804.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,804.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,804.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer019 {
	-ms-transform:translate(681.249px,790.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(681.249px,790.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.94px;
	position:absolute;
	top:0px;
	transform:translate(681.249px,790.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(681.249px,790.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.94px;
}
#_idContainer020 {
	-ms-transform:translate(695.189px,804.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(695.189px,804.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.06px;
	position:absolute;
	top:0px;
	transform:translate(695.189px,804.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(695.189px,804.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.06px;
}
#_idContainer021 {
	-ms-transform:translate(679.750px,789.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,789.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,789.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,789.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer022 {
	-ms-transform:translate(679.750px,974.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,974.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,974.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,974.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer023 {
	-ms-transform:translate(681.249px,960.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(681.249px,960.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.94px;
	position:absolute;
	top:0px;
	transform:translate(681.249px,960.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(681.249px,960.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.94px;
}
#_idContainer024 {
	-ms-transform:translate(695.189px,974.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(695.189px,974.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.06px;
	position:absolute;
	top:0px;
	transform:translate(695.189px,974.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(695.189px,974.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.06px;
}
#_idContainer025 {
	-ms-transform:translate(679.750px,959.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.750px,959.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	position:absolute;
	top:0px;
	transform:translate(679.750px,959.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.750px,959.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer026 {
	-ms-transform:translate(-0.250px,1410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.250px,1410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00px;
	position:absolute;
	top:0px;
	transform:translate(-0.250px,1410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.250px,1410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:720.00px;
}
#_idContainer027 {
	-ms-transform:translate(206.527px,1482.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(206.527px,1482.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.24px;
	position:absolute;
	top:0px;
	transform:translate(206.527px,1482.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(206.527px,1482.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:298.11px;
}
#_idContainer028 {
	-ms-transform:translate(505.931px,1490.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(505.931px,1490.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.24px;
	position:absolute;
	top:0px;
	transform:translate(505.931px,1490.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(505.931px,1490.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.21px;
}
#_idContainer029 {
	-ms-transform:translate(210.085px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(210.085px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.70px;
	position:absolute;
	top:0px;
	transform:translate(210.085px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(210.085px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.77px;
}
#_idContainer030 {
	-ms-transform:translate(225.391px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(225.391px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.33px;
	position:absolute;
	top:0px;
	transform:translate(225.391px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(225.391px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.81px;
}
#_idContainer031 {
	-ms-transform:translate(243.009px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(243.009px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.66px;
	position:absolute;
	top:0px;
	transform:translate(243.009px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(243.009px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.35px;
}
#_idContainer032 {
	-ms-transform:translate(263.854px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(263.854px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.58px;
	position:absolute;
	top:0px;
	transform:translate(263.854px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(263.854px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.02px;
}
#_idContainer033 {
	-ms-transform:translate(289.436px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.436px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.70px;
	position:absolute;
	top:0px;
	transform:translate(289.436px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.436px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.73px;
}
#_idContainer034 {
	-ms-transform:translate(309.470px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(309.470px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.33px;
	position:absolute;
	top:0px;
	transform:translate(309.470px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(309.470px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.43px;
}
#_idContainer035 {
	-ms-transform:translate(326.046px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(326.046px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.70px;
	position:absolute;
	top:0px;
	transform:translate(326.046px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(326.046px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.86px;
}
#_idContainer036 {
	-ms-transform:translate(177.188px,1424.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(177.188px,1424.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.66px;
	position:absolute;
	top:0px;
	transform:translate(177.188px,1424.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(177.188px,1424.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.34px;
}
#_idContainer037 {
	-ms-transform:translate(168.743px,1428.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.743px,1428.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.96px;
	position:absolute;
	top:0px;
	transform:translate(168.743px,1428.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.743px,1428.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:33.78px;
}
#_idContainer038 {
	-ms-transform:translate(168.743px,1447.741px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.743px,1447.741px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.66px;
	position:absolute;
	top:0px;
	transform:translate(168.743px,1447.741px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.743px,1447.741px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:30.58px;
}
#_idContainer039 {
	-ms-transform:translate(342.907px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(342.907px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.75px;
	position:absolute;
	top:0px;
	transform:translate(342.907px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(342.907px,1434.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.62px;
}
#_idContainer040 {
	-ms-transform:translate(377.795px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(377.795px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.04px;
	position:absolute;
	top:0px;
	transform:translate(377.795px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(377.795px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.97px;
}
#_idContainer041 {
	-ms-transform:translate(401.763px,1435.610px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(401.763px,1435.610px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.67px;
	position:absolute;
	top:0px;
	transform:translate(401.763px,1435.610px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(401.763px,1435.610px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.74px;
}
#_idContainer042 {
	-ms-transform:translate(422.062px,1427.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(422.062px,1427.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.08px;
	position:absolute;
	top:0px;
	transform:translate(422.062px,1427.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(422.062px,1427.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.93px;
}
#_idContainer043 {
	-ms-transform:translate(429.397px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(429.397px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.04px;
	position:absolute;
	top:0px;
	transform:translate(429.397px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(429.397px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.93px;
}
#_idContainer044 {
	-ms-transform:translate(449.102px,1425.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(449.102px,1425.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.15px;
	position:absolute;
	top:0px;
	transform:translate(449.102px,1425.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(449.102px,1425.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.48px;
}
#_idContainer045 {
	-ms-transform:translate(474.106px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(474.106px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.04px;
	position:absolute;
	top:0px;
	transform:translate(474.106px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(474.106px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.15px;
}
#_idContainer046 {
	-ms-transform:translate(489.071px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(489.071px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.26px;
	position:absolute;
	top:0px;
	transform:translate(489.071px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(489.071px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.85px;
}
#_idContainer047 {
	-ms-transform:translate(500.371px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(500.371px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.04px;
	position:absolute;
	top:0px;
	transform:translate(500.371px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(500.371px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.96px;
}
#_idContainer048 {
	-ms-transform:translate(524.559px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(524.559px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.67px;
	position:absolute;
	top:0px;
	transform:translate(524.559px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(524.559px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.93px;
}
#_idContainer049 {
	-ms-transform:translate(536.117px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(536.117px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.26px;
	position:absolute;
	top:0px;
	transform:translate(536.117px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(536.117px,1428.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.85px;
}
#_idContainer050 {
	-ms-transform:translate(547.637px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(547.637px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.04px;
	position:absolute;
	top:0px;
	transform:translate(547.637px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(547.637px,1435.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.15px;
}
#_idContainer051 {
	-ms-transform:translate(363.162px,1417.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(363.162px,1417.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.40px;
	position:absolute;
	top:0px;
	transform:translate(363.162px,1417.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(363.162px,1417.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer052 {
	-ms-transform:translate(36.000px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.80px;
}
#_idContainer053 {
	-ms-transform:translate(36.000px,409.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,409.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,409.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,409.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.80px;
}
#_idContainer054 {
	-ms-transform:translate(36.000px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.80px;
}
#_idContainer055 {
	-ms-transform:translate(36.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.80px;
}
#_idContainer056 {
	-ms-transform:translate(36.000px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:123.95px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.80px;
}
#_idContainer057 {
	-ms-transform:translate(215.999px,223.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.999px,223.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.90px;
	position:absolute;
	top:0px;
	transform:translate(215.999px,223.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.999px,223.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer058 {
	-ms-transform:translate(215.999px,317.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.999px,317.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.34px;
	position:absolute;
	top:0px;
	transform:translate(215.999px,317.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.999px,317.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer059 {
	-ms-transform:translate(215.999px,396.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.999px,396.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.36px;
	position:absolute;
	top:0px;
	transform:translate(215.999px,396.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.999px,396.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer060 {
	-ms-transform:translate(215.999px,487.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.999px,487.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.34px;
	position:absolute;
	top:0px;
	transform:translate(215.999px,487.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.999px,487.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer061 {
	-ms-transform:translate(216.000px,568.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(216.000px,568.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.90px;
	position:absolute;
	top:0px;
	transform:translate(216.000px,568.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(216.000px,568.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer062 {
	-ms-transform:translate(216.000px,661.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(216.000px,661.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.34px;
	position:absolute;
	top:0px;
	transform:translate(216.000px,661.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(216.000px,661.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer063 {
	-ms-transform:translate(216.000px,736.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(216.000px,736.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.33px;
	position:absolute;
	top:0px;
	transform:translate(216.000px,736.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(216.000px,736.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer064 {
	-ms-transform:translate(216.000px,829.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(216.000px,829.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.34px;
	position:absolute;
	top:0px;
	transform:translate(216.000px,829.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(216.000px,829.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:423.00px;
}
#_idContainer065 {
	-ms-transform:translate(217.000px,907.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(217.000px,907.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.90px;
	position:absolute;
	top:0px;
	transform:translate(217.000px,907.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(217.000px,907.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:428.00px;
}
#_idContainer066 {
	-ms-transform:translate(217.000px,999.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(217.000px,999.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.34px;
	position:absolute;
	top:0px;
	transform:translate(217.000px,999.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(217.000px,999.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:428.00px;
}
#_idContainer067 {
	-ms-transform:translate(202.478px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(202.478px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.44px;
	position:absolute;
	top:0px;
	transform:translate(202.478px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(202.478px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:461.59px;
}
#_idContainer068 {
	-ms-transform:translate(204.692px,122.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(204.692px,122.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.44px;
	position:absolute;
	top:0px;
	transform:translate(204.692px,122.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(204.692px,122.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:286.04px;
}
#_idContainer069 {
	-ms-transform:translate(29.409px,56.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.409px,56.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.96px;
	position:absolute;
	top:0px;
	transform:translate(29.409px,56.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.409px,56.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:141.41px;
}
#_idContainer070 {
	-ms-transform:translate(22.053px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(22.053px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.94px;
	position:absolute;
	top:0px;
	transform:translate(22.053px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(22.053px,57.303px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.45px;
}
#_idContainer072 {
	-ms-transform:translate(15.000px,1259.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.000px,1259.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(15.000px,1259.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.000px,1259.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.75px;
}
#_idContainer073 {
	-ms-transform:translate(15.000px,1089.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.000px,1089.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(15.000px,1089.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.000px,1089.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.75px;
}
#_idContainer074 {
	-ms-transform:translate(15.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(15.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.000px,919.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.75px;
}
#_idContainer075 {
	-ms-transform:translate(14.999px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.999px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:123.95px;
	position:absolute;
	top:0px;
	transform:translate(14.999px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.999px,745.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.75px;
}
#_idContainer076 {
	-ms-transform:translate(14.999px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.999px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(14.999px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.999px,579.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.75px;
}
#_idContainer077 {
	-ms-transform:translate(15.000px,409.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.000px,409.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.43px;
	position:absolute;
	top:0px;
	transform:translate(15.000px,409.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.000px,409.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.75px;
}
#_idContainer078 {
	-ms-transform:translate(15.999px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.999px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.80px;
	position:absolute;
	top:0px;
	transform:translate(15.999px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.999px,237.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:682.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
